<!DOCTYPE html>
<html>
<body style = "background-color:rgb(232, 246, 243);">

<br><br>
<h1 style = "text-align: center; font-family: helvetica; font-size : 50px;">ETHAN LIAO'S</h1>
<h2 style = "text-align: center; font-family: helvetica; font-size : 40px;">ABOUT PAGE</h2>

<center><%= link_to 'Go To Home', root_path %></center>

<center><p style = "font-family: helvetica"><br><br><strong>I am an aspiring, motivated second-year computer science student seeking opportunities to use and develop my programming skills.</strong></p>
<p>I am currently focused on taking small steps towards becoming a better programmer and software developer.</p></center>
<br><br><br><br>

<h2 style = "font-family: helvetica; padding-left: 50px;"><mark>I love:</mark></h2>

<ul style = "font-family: helvetica; font-size : 20px; padding-left: 50px;">
	<li>Playing/Writing Music</li>
	<li>Snowboarding</li>
	<li>Running</li>
	<li>My dog</li>
</ul>
<br>
<br>
<h2 style = "font-family: helvetica; padding-left: 50px;"><mark>I hate:</mark></h2>
<ul style = "font-family: helvetica; font-size : 20px; padding-left: 50px;">
	<li>Mushrooms</li>
	<li>Dirty Roommates</li>
	<li>Keanu</li>
</ul>
<br>
<br>

</body>
</html>