<!DOCTYPE html>
<html>
<body style = "background-color:rgb(232, 246, 243);">

<br><br>
<h1 style = "text-align: center; font-family: helvetica; font-size : 50px;">ETHAN LIAO'S</h1>
<h2 style = "text-align: center; font-family: helvetica; font-size : 40px;">HOMEPAGE</h2>

<br>
<center><%= image_tag 'prof_pic.png' %></center>
<br><br>
<center><%= link_to 'About', about_path %></center>
<br><br>
</body>
</html>